#Lines beginning with '#' are ignored
#Enter base simulation parameters, tick_length is measured in miliseconds
tick_length =  250
max_iterations = 200
snapshot_rate = 10

#Enter battlefield parameters (width, height, tileset containing special tiles)
width = 10
height = 10

#variable name must be provided, write 'tileset=' if no special tiles desired
tileset = +, 1, 1

#Note: army names currently do not support whitespaces
#Enter army 1 parameters
army_1_name = Red
army_1_units = K, 5, 1 & K, 2, 2 & A, 3, 3 & S, 4, 4 & S, 4, 4 & K, 4, 4

#Enter army 2 parameters
army_2_name = Blue
army_2_units = a, 9, 9 & a, 9, 9 & k, 8, 6 & k, 1, 1 & k, 2, 2 & k 8, 8

